<!DOCTYPE html>
<html lang="en">
    <style>
        h2{
            color: crimson;
        }
        body{
            background-color: rgb(0, 0, 0);
            align-items: center;
            

        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <br><br>
    <br>
    <center>
        <img height="150px" src="https://cdn.pixabay.com/animation/2023/09/14/14/44/14-44-18-961_512.gif" alt="" class="background-size">
        <h2>Payment canceled!</h2>
        <br>
        <br>
        <a href="{% url 'bapp:main' %}" class="btn btn-outline-dark" role="button">click to return home</a>
    </center>
</body>
</html>