<!DOCTYPE html>
<html lang="en">
    <style>
        body{
            background-color: springgreen;
        }
        img{
            align-items:self-start;
            height: 150px
        }
      
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <br><br><br><br><br>

    
    <center>
     <h2>Transaction successfull</h2>  
     <img src="https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_1280.png" alt=""> 
     <br><br>
    <div> <button class="btn-outline-success"><a href="{% url 'bapp:main' %}" class="btn btn-outline-dark" role="button">Click to continue</a></button></div>

    </center> 
</body>
</html>