{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<style>
    body {
      background-image: url('https://cdn.svgator.com/images/2022/06/use-svg-as-background-image-particle-strokes.svg');
      
    }
    p{
    color: bisque;
  }

    .card {
      width: 700px;
      margin: 0 auto;
      margin-top: 50px;
      padding: 10px;
      background-color:rgba(101, 96, 96, 0.562);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.502);
      color: #f0e5e5;
    }

    .card-body {
      text-align: center;
    }
  </style>
<center>
    <div class="card-body">
        <div class="mb-3">
            <div class="card">
<form method="post" action=""class="row g-3">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="col-md-4">
    <input class="btn-outline-success" type="submit" value="{% trans 'Submit' %}" />
    </div>
</div>
</div>

</form>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
